### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [103]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "../Resources/schools_complete.csv"
student_data_to_load = "../Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [90]:
#check to see if any data is incomplete
school_complete_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [91]:
#total number of schools 
total_unique_schools = school_complete_df["school_name"].nunique()

total_unique_schools

15

In [92]:
#Total Students column needs header in summary table
student_count = school_complete_df["student_name"].count()
student_count

39170

In [93]:
#isolate relevant columns
school_budget_df= school_complete_df[["school_name","budget"]]
school_budget_df.head()

         school_name   budget
0  Huang High School  1910635
1  Huang High School  1910635
2  Huang High School  1910635
3  Huang High School  1910635
4  Huang High School  1910635

In [94]:
#group by min of school and budget to remove duplicate values 

budget_columns = school_budget_df.groupby(["school_name","budget"], as_index=False).min()

budget_columns.head()

                                       school_name   budget
school_name          budget
Bailey High School   3124928    Bailey High School  3124928
Cabrera High School  1081356   Cabrera High School  1081356
Figueroa High School 1884411  Figueroa High School  1884411
Ford High School     1763916      Ford High School  1763916
Griffin High School  917500    Griffin High School   917500

In [95]:
#sum budget column for total budget
budget_total = budget_columns["budget"].sum()
budget_total

24649428

In [96]:
#calculate the average scores for math and reading
math_average = school_complete_df["math_score"].mean()
reading_average = school_complete_df["reading_score"].mean()

In [122]:
#find the count of students that passed reading
pass_math_df= school_complete_df.loc[school_complete_df
                                        ["math_score"]>=70]

math_passed_perc = pass_math_df["student_name"].count()/student_count*100


math_passed_perc

74.9808526933878

In [123]:
#find the count of students that passed reading
pass_reading_df= school_complete_df.loc[school_complete_df
                                        ["reading_score"]>=70]

read_passed_perc = pass_reading_df["student_name"].count()/student_count*100

read_passed_perc

85.80546336482001

In [124]:
#use and function to find percentage of students that passed both tests
pass_both_df = school_complete_df.loc[(school_complete_df["reading_score"]>=70) & (school_complete_df["math_score"]>=70)]

both_passed_perc = pass_both_df["student_name"].count()/student_count*100

both_passed_perc

65.17232575950983

In [125]:
district_summary_dict = {"Total Schools": [total_unique_schools],"Total Students": [student_count],
                      "Total Budget": [budget_total],"Average Math Score": [math_average],
                       "Average Reading Score":[reading_average],"% Passing Math":
                       [math_passed_perc],"% Passing Reading": [read_passed_perc],
                       "% Overall Pass":[both_passed_perc]}
district_summary_df=pd.DataFrame(district_summary_dict)
               
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Pass
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type